.login-change {
	background-color: #222;
	padding: 10px 10px;
}

.login-change-title {
	color: #aaa;
	font-weight: 400;
}

.newLogin,
.newPasword {
	margin: 5px;
	border: none;
	outline: none;
	font-family: inherit;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: black;
	color: white;
}

.changeBtn {
	background-color: #232;
	color: #ccc;
	font-family: inherit;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
}

@media only screen and (max-width: 768px) {
	.login-change {
		width: 100%;
	}
}

.logOutFire {
	background-color: darkred !important;
}

.message {
	color: yellow !important;
}

.signInInput {
	border: none;
	outline: none;
	font-family: inherit;
	padding: 5px 10px;
	margin: 5px;
	border-radius: 3px;
}

.signInBtn {
	border: none;
	background-color: darkgreen;
	color: white;
	padding: 5px 15px;
	font-family: inherit;
	border-radius: 3px;
}
